
@{
    ViewBag.Title = "Por2";
    Layout = "~/Views/Shared/_PortfolioTemplate.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-container">
        <main id="main" class="site-main portfolio-single-post-container container" role="main">


            <article id="post-601" class="portfolio-single-content portfolio-single-layout-zigzag post-601 portfolio type-portfolio status-publish has-post-thumbnail hentry types-print">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row portfolio-single-media-position-bottom">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">

                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="project-additional-details">
                                                <span>Category : Nature, Water</span><span>
                                                    Awards : Awwwards, CSS
                                                    Design Awards
                                                </span>
                                            </div>
                                            <div class="project-link">
                                                <a href="#" class="btn btn-sm btn-accent" target="_blank">External Link</a>
                                            </div>
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo1/portfolio/zigzag-constrained//&amp;t=Zigzag%20constrained">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Zigzag%20constrained-http://demo.agnidesigns.com/fortune/demo1/portfolio/zigzag-constrained/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo1/portfolio/zigzag-constrained/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo1/portfolio/zigzag-constrained/&amp;title=Zigzag%20constrained">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-media-container" style="margin: -30px; ">
                                <div class="portfolio-zigzag-media" style="padding: 30px;">
                                    <div id="portfolio-zigzag-row-1" class="portfolio-zigzag-row row">
                                        <div class="portfolio-zigzag-media portfolio-zigzag-column col-xs-12 col-sm-12 col-md-7">
                                            <div class="portfolio-zigzag-column-inner">
                                                <div class=" agni-image custom-image-container text-left">
                                                    <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                                        <figure class="agni-image-figure">
                                                            <a href="~/Public/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641.jpg" class="custom-image"
                                                               target="_self">
                                                                <img style="" width="1400" height="933" src="~/Public/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641.jpg"
                                                                     class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641-1024x682.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/77fce116049595.56353d9fe0641-960x640.jpg 960w"
                                                                     sizes="(max-width: 1400px) 100vw, 1400px" />
                                                            </a>
                                                            <figcaption class="vc_figure-caption"></figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portfolio-zigzag-description portfolio-zigzag-column col-xs-12 col-sm-12 col-md-5" "><div class="
                                             portfolio-zigzag-column-inner">
                                            <h6>Suspendisse nunc lectus</h6>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus
                                            venenatis, tortor et faucibus tincidunt, ligula nunc posuere metus, ac pulvinar urna erat nec risus. In
                                            quis egestas lectus. Suspendisse potenti. Ut a dolor sed ante facilisis ornare vel in mi.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-zigzag-media" style="padding: 30px;">
                                <div id="portfolio-zigzag-row-2" class="portfolio-zigzag-row row">
                                    <div class="portfolio-zigzag-description portfolio-zigzag-column col-xs-12 col-sm-12 col-md-5" "><div class="
                                         portfolio-zigzag-column-inner">
                                        <h6>Nam mattis nisi</h6>
                                        Nulla consectetur purus eu ex pharetra, non efficitur neque iaculis. Nulla facilisi. Vestibulum auctor
                                        vehicula est, id aliquam ligula pulvinar at. Maecenas pulvinar massa in vestibulum consequat. Sed vitae
                                        enim vitae augue lobortis varius. Praesent eget molestie metus, ut imperdiet diam.
                                    </div>
                                </div>
                                <div class="portfolio-zigzag-media portfolio-zigzag-column col-xs-12 col-sm-12 col-md-7">
                                    <div class="portfolio-zigzag-column-inner">
                                        <div class="agni-gallery img-carousel custom-gallery">
                                            <div class="agni-gallery-row row carousel-gallery " data-gallery-margin=60 data-gallery-autoplay=true
                                                 data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=false data-gallery-loop=true
                                                 data-gallery-autoheight=false data-gallery-center=false data-gallery-pagination=true data-gallery-0="1"
                                                 data-gallery-768="1" data-gallery-992="1" data-gallery-1200="1">
                                                <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                     data-animation="fadeInUp" data-animation-offset="95%">
                                                    <figure class="agni-gallery-figure">
                                                        <a href="~/Public/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f.jpg">
                                                            <img width="1400" height="917" src="~/Public/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f.jpg"
                                                                 class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a4a6b116049595.56353d970e44f-960x629.jpg 960w"
                                                                 sizes="(max-width: 1400px) 100vw, 1400px" />
                                                        </a>
                                                    </figure>
                                                </div>
                                                <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                     data-animation="fadeInUp" data-animation-offset="95%">
                                                    <figure class="agni-gallery-figure">
                                                        <a href="~/Public/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd.jpg">
                                                            <img width="1400" height="917" src="~/Public/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd.jpg"
                                                                 class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd-300x197.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd-768x503.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd-1024x671.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/45993d16049595.56353d96a89fd-960x629.jpg 960w"
                                                                 sizes="(max-width: 1400px) 100vw, 1400px" />
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-zigzag-media" style="padding: 30px;">
                            <div id="portfolio-zigzag-row-3" class="portfolio-zigzag-row row">
                                <div class="portfolio-zigzag-media portfolio-zigzag-column col-xs-12 col-sm-12 col-md-7">
                                    <div class="portfolio-zigzag-column-inner">
                                        <div class=" agni-image custom-image-container text-left">
                                            <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                                <figure class="agni-image-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf.jpg" class="custom-image"
                                                       target="_self">
                                                        <img style="" width="1400" height="933" src="~/Public/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf.jpg"
                                                             class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf-1024x682.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/e9590a16049595.56353d9146dbf-960x640.jpg 960w"
                                                             sizes="(max-width: 1400px) 100vw, 1400px" />
                                                    </a>
                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-zigzag-description portfolio-zigzag-column col-xs-12 col-sm-12 col-md-5" "><div class="
                                     portfolio-zigzag-column-inner">
                                    Curabitur turpis ante, auctor non eleifend sit amet, mattis non ante.
                                    Maecenas quis tincidunt purus. Cras et ullamcorper nibh, feugiat laoreet massa. Ut elit sem, volutpat ut
                                    cursus a, vestibulum a diam. Cras nunc augue, rhoncus sed ipsum id, posuere scelerisque libero. Pellentesque
                                    dapibus mollis rutrum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

</div>
<div class="portfolio-navigation-container">
    <nav class="portfolio-navigation navigation" role="navigation">
        <h1 class="screen-reader-text">Portfolio navigation</h1>
        <div id="portfolio-nav-links" class="nav-links">
            <div class="nav-previous"><a href="@Url.Action("Por1","Home")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
            <div class="nav-back"><a href="@Url.Action("Index","Home")"><i class="pe-7s-back"></i></a></div>
            <div class="nav-next"><a href="@Url.Action("Por3","Home")" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
        </div>
    </nav><!-- .nav-links -->
</div>
	</div>
	</article>

	</main><!-- #main -->
	</div><!-- #primary -->
	</div><!-- #content -->
