
@{
    ViewBag.Title = "Por4";
    Layout = "~/Views/Shared/_PortfolioTemplate.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-602" class="portfolio-single-content portfolio-single-layout-side post-602 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-4">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-76385" class="section-row" style="padding-top: 70px; padding-bottom: 40px; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-76385">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-96579 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll">
                                                                <h5 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; ">
                                                                    <span>
                                                                        Lorem
                                                                        Ipsum Dolor
                                                                    </span>
                                                                </h5>
                                                                <div class="divide-line text-left "><span style="width:70px; height:1px; background-color:#bfab66"></span></div>
                                                            </div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    Phasellus in ex ornare ex ornare aliquam et sit amet risus. Sed interdum neque tincidunt metus
                                                                    pulvinar, viverra aliquet massa pharetra. Maecenas erat felis, sollicitudin nec purus et, dapibus
                                                                    molestie turpis. Morbi quis purus vehicula, facilisis dui non, ultricies purus.
                                                                </p>

                                                            </div>
                                                            <ul class="list ">
                                                                <li><i class="fa fa-star-o " style="color:"></i>Sed interdum neque</li>
                                                                <li><i class="fa fa-star-o " style="color:"></i>Praesent sit amet congue.</li>
                                                                <li><i class="fa fa-star-o " style="color:"></i>Morbi quis purus vehicula</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-left">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo1/portfolio/sidebar-gallery-fullwidth//&amp;t=Sidebar%20gallery%20fullwidth">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Sidebar%20gallery%20fullwidth-http://demo.agnidesigns.com/fortune/demo1/portfolio/sidebar-gallery-fullwidth/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo1/portfolio/sidebar-gallery-fullwidth/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo1/portfolio/sidebar-gallery-fullwidth/&amp;title=Sidebar%20gallery%20fullwidth">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-8">
                            <div class="portfolio-single-media-container" style="margin: -15px 0;">
                                <div class="portfolio-side-media" style="padding: 15px;">
                                    <div class="agni-gallery img-carousel custom-gallery">
                                        <div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -15px -30px;">
                                            <div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/df7a1c35914463.57082439623c9-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/d8bd4b35914463.570829ad859c2-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/66ec2235914463.5752f25b38d00-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/a8754e35914463.5708243963e99-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/38e22b35914463.5708243961da1-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/8c4fb735914463.5708243961861-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/54ee0335914463.5827268e05b05-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c.jpg">
                                                        <img width="960" height="960" src="~/Public/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c.jpg 960w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c-300x300.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/f7fd6435914463.5708243960c4c-768x768.jpg 768w"
                                                             sizes="(max-width: 960px) 100vw, 960px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por3","Home")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="@Url.Action("Index","Home")"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next"><a href="@Url.Action("Por5","Home")" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
