
@{
    ViewBag.Title = "Por6";
    Layout = "~/Views/Shared/_PortfolioTemplate.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-container">
        <main id="main" class="site-main portfolio-single-post-container container" role="main">


            <article id="post-316" class="portfolio-single-content portfolio-single-layout-full post-316 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row portfolio-single-media-position-bottom">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-73944" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-73944">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-57005 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll">
                                                                <h6 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; ">
                                                                    <span>
                                                                        Lorem
                                                                        Ipsum Dolor
                                                                    </span>
                                                                </h6>
                                                                <div class="divide-line text-left "><span style="width:70px; height:1px; background-color:#bfab66"></span></div>
                                                            </div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    In in nibh at tellus euismod convallis. Morbi volutpat vitae eros ac tempus. Morbi eleifend risus
                                                                    at dui dictum suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et sapien sed
                                                                    dui bibendum viverra vel pulvinar dui. Curabitur dapibus scelerisque volutpat. Nullam quis augue
                                                                    venenatis, sollicitudin odio vel, semper odio.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo1/portfolio/fullwidth-media-constrained//&amp;t=Fullwidth%20media%20constrained">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Fullwidth%20media%20constrained-http://demo.agnidesigns.com/fortune/demo1/portfolio/fullwidth-media-constrained/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo1/portfolio/fullwidth-media-constrained/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo1/portfolio/fullwidth-media-constrained/&amp;title=Fullwidth%20media%20constrained">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-media-container" style="margin: -15px; ">
                                <div class="portfolio-full-media" style="padding: 15px;">
                                    <div class=" agni-image custom-image-container text-left">
                                        <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                            <figure class="agni-image-figure">
                                                <a href="~/Public/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98.jpg" class="custom-image"
                                                   target="_self">
                                                    <img style="" width="1400" height="1000" src="~/Public/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98.jpg"
                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98-300x214.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98-768x549.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98-1024x731.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/57875829338755.56a85f0956f98-960x686.jpg 960w"
                                                         sizes="(max-width: 1400px) 100vw, 1400px" />
                                                </a>
                                                <figcaption class="vc_figure-caption"></figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-full-media" style="padding: 15px;">
                                    <div class="agni-gallery img-carousel custom-gallery">
                                        <div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -15px -30px;">
                                            <div class="grid-sizer col-xs-12 col-sm-12 col-md-6 "></div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/6e827329338755.55ee973a86427.jpg">
                                                        <img width="640" height="640" src="~/Public/wp-content/uploads/sites/2/2016/12/6e827329338755.55ee973a86427.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/6e827329338755.55ee973a86427.jpg 640w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/6e827329338755.55ee973a86427-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/6e827329338755.55ee973a86427-300x300.jpg 300w"
                                                             sizes="(max-width: 640px) 100vw, 640px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-6 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/2/2016/12/ccce4129338755.55ee973a8ce2c.jpg">
                                                        <img width="640" height="640" src="~/Public/wp-content/uploads/sites/2/2016/12/ccce4129338755.55ee973a8ce2c.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/ccce4129338755.55ee973a8ce2c.jpg 640w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/ccce4129338755.55ee973a8ce2c-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/ccce4129338755.55ee973a8ce2c-300x300.jpg 300w"
                                                             sizes="(max-width: 640px) 100vw, 640px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-full-media" style="padding: 15px;">
                                    <div class=" agni-image custom-image-container text-left ba-slider">
                                        <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                            <figure class="agni-image-figure">
                                                <img style="" width="1400" height="1050" src="~/Public/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e.jpg"
                                                     class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e-300x225.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e-768x576.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e-1024x768.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e-960x720.jpg 960w"
                                                     sizes="(max-width: 1400px) 100vw, 1400px" />
                                                <figcaption class="vc_figure-caption"></figcaption>
                                            </figure>
                                            <div class=" resize">
                                                <figure class="agni-image-figure">
                                                    <img style="" width="1400" height="1050" src="~/Public/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1.jpg"
                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1.jpg 1400w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1-300x225.jpg 300w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1-768x576.jpg 768w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1-1024x768.jpg 1024w, http://demo.agnidesigns.com/fortune/demo1/wp-content/uploads/sites/2/2016/12/5e5ba329338755.56a85f0955a1e_1-960x720.jpg 960w"
                                                         sizes="(max-width: 1400px) 100vw, 1400px" />
                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                </figure>
                                            </div>
                                            <span class="handle"><span><i class="fa fa-arrows-h"></i></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por5","Home")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="@Url.Action("Index","Home")"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next">
                                    <a href="@Url.Action("Por1","Home")" rel="next">
                                        <span>Next</span><i class="pe-7s-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
