
@{
    ViewBag.Title = "Por2";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-714" class="portfolio-single-content portfolio-single-layout-full post-714 portfolio type-portfolio status-publish has-post-thumbnail hentry types-graphic types-logo-design">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row portfolio-single-media-position-bottom">
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-15242" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-15242">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-85744 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="1200" src="~/Public/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7.jpg"
                                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7-300x188.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7-768x480.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7-1024x640.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/3b333647164187.587550273f0e7-960x600.jpg 960w"
                                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="agni-row-59157" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-59157">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-center">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-22992 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <div id="lipsum">
                                                                    <p>
                                                                        Condimentum porttitor, mauris nunc sodales sem, non scelerisque nibh nibh ut mi. Pellentesque
                                                                        condimentum sollicitudin consectetur. Sed urna eros, semper scelerisque dolor in, consequat
                                                                        venenatis ipsum. Donec vel neque nec nunc blandit commodo non non felis. Integer vitae tempor
                                                                        velit, sit amet pulvinar turpis.
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="agni-row-18508" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-18508">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="vc_row vc_row_fluid has-fullwidth-column-no-padding">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-63348 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class=" agni-image custom-image-container text-left">
                                                                <figure class="agni-image-figure">
                                                                    <img style="" width="1920" height="1208" src="~/Public/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4.jpg"
                                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4-300x189.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4-768x483.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4-1024x644.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/cce68e47164187.5875627d4a3a4-960x604.jpg 960w"
                                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="agni-row-82847" class="section-row" style="padding-top: 4%; padding-bottom: 4%; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-82847">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-10 vc_col-md-offset-2 vc_col-md-8 vc_col-sm-offset-1">
                                                    <div class="agni_column-inner vc_column-inner text-center">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-68254 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <div id="lipsum">
                                                                    <p>
                                                                        Nunc dolor urna, accumsan nec elit sed, egestas gravida quam. Donec elementum maximus fermentum.
                                                                        Nulla facilisi. Donec condimentum ut diam at rutrum. Nullam accumsan urna risus, sed accumsan sem
                                                                        accumsan sed. Integer rhoncus.
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-center">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-carousel-vc-elements//&amp;t=Fullwidth%20carousel%20&amp;%20VC%20elements">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Fullwidth%20carousel%20&amp;%20VC%20elements-http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-carousel-vc-elements/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-carousel-vc-elements/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-carousel-vc-elements/&amp;title=Fullwidth%20carousel%20&amp;%20VC%20elements">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-media-container">
                                <div class="portfolio-full-media">
                                    <div class="agni-gallery img-carousel ">
                                        <div class="agni-gallery-row row carousel-gallery " data-gallery-margin=0 data-gallery-autoplay=true
                                             data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=false data-gallery-loop=true
                                             data-gallery-autoheight=false data-gallery-center=false data-gallery-pagination=true data-gallery-0="1"
                                             data-gallery-768="2" data-gallery-992="3" data-gallery-1200="3">
                                            <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="640" height="640" src="~/Public/wp-content/uploads/sites/15/2016/12/eaa7fd47164187.58755bd9449af.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/eaa7fd47164187.58755bd9449af.jpg 640w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/eaa7fd47164187.58755bd9449af-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/eaa7fd47164187.58755bd9449af-300x300.jpg 300w"
                                                         sizes="(max-width: 640px) 100vw, 640px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="640" height="640" src="~/Public/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721_1.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721_1.jpg 640w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721_1-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721_1-300x300.jpg 300w"
                                                         sizes="(max-width: 640px) 100vw, 640px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 1.2s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 1.2s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="640" height="640" src="~/Public/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721.jpg 640w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721-150x150.jpg 150w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/13279547164187.58752ff7cf721-300x300.jpg 300w"
                                                         sizes="(max-width: 640px) 100vw, 640px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por1","Case")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="http://demo.agnidesigns.com/fortune/demo15/"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next"><a href="@Url.Action("Por3","Case")" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
