
@{
    ViewBag.Title = "Por21";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-600" class="portfolio-single-content portfolio-single-layout-side post-600 portfolio type-portfolio status-publish has-post-thumbnail hentry types-graphic types-print">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-8">
                            <div class="portfolio-single-media-container">
                                <div class="portfolio-side-media">
                                    <div class="agni-gallery img-carousel custom-gallery">
                                        <div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -0px -0px;">
                                            <div class="grid-sizer col-xs-12 col-sm-12 col-md-12 "></div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a.jpg">
                                                        <img width="1400" height="979" src="~/Public/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a.jpg 1400w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a-300x210.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a-768x537.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a-1024x716.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ee45547023019.586dafc98727a-960x671.jpg 960w"
                                                             sizes="(max-width: 1400px) 100vw, 1400px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99.jpg">
                                                        <img width="1920" height="1833" src="~/Public/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99-300x286.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99-768x733.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99-1024x978.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d251b647023019.586dafc988c99-960x917.jpg 960w"
                                                             sizes="(max-width: 1920px) 100vw, 1920px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 0px 0px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947.jpg">
                                                        <img width="1400" height="1849" src="~/Public/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947.jpg 1400w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947-227x300.jpg 227w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947-768x1014.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947-775x1024.jpg 775w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9ec72547023019.586dafc989947-960x1268.jpg 960w"
                                                             sizes="(max-width: 1400px) 100vw, 1400px" />
                                                    </a>
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-4 has-fixed-single-content">
                            <div class="portfolio-single-content-inner">
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-88631" class="section-row" style="padding-top: 70px; ">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-88631">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-88987 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_custom_heading page-scroll">
                                                                <h5 class="vc_custom_heading agni_custom_heading_content " style="text-align: left; ">
                                                                    <span>
                                                                        Lorem
                                                                        Ipsum Dolor
                                                                    </span>
                                                                </h5>
                                                                <div class="divide-line text-left "><span style="width:70px; height:1px; background-color:#bfab66"></span></div>
                                                            </div>
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    Phasellus in ex ornare ex ornare aliquam et sit amet risus. Sed interdum neque tincidunt metus
                                                                    pulvinar, viverra aliquet massa pharetra. Maecenas erat felis, sollicitudin nec purus et, dapibus
                                                                    molestie turpis. Morbi quis purus vehicula, facilisis dui non, ultricies purus. Mauris eu nunc sit
                                                                    amet nulla aliquam cursus. Praesent fermentum aliquam lorem sit amet congue. Nullam id libero
                                                                    libero. Vestibulum sagittis purus nec neque dictum, in pretium velit condimentum. Sed blandit mollis
                                                                    quam a feugiat.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-left">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo14/portfolio/right-sidebar-fullwidth//&amp;t=Right%20sidebar%20fullwidth">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Right%20sidebar%20fullwidth-http://demo.agnidesigns.com/fortune/demo14/portfolio/right-sidebar-fullwidth/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo14/portfolio/right-sidebar-fullwidth/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo14/portfolio/right-sidebar-fullwidth/&amp;title=Right%20sidebar%20fullwidth">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por24","Case")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="http://demo.agnidesigns.com/fortune/demo15/"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next"><a href="@Url.Action("Por22","Case")" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
