
@{
    ViewBag.Title = "Por24";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}
<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-container">
        <main id="main" class="site-main portfolio-single-post-container container" role="main">


            <article id="post-599" class="portfolio-single-content portfolio-single-layout-side post-599 portfolio type-portfolio status-publish has-post-thumbnail hentry types-branding types-graphic">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row ">
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-8">
                            <div class="portfolio-single-media-container" style="margin: -15px; ">
                                <div class="portfolio-side-media" style="padding: 15px;">
                                    <div class=" agni-image custom-image-container text-left">
                                        <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                            <figure class="agni-image-figure">
                                                <img style="" width="1920" height="1277" src="~/Public/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b.jpg"
                                                     class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b-768x511.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b-1024x681.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/917c6a38782899.576edf0b4099b-960x639.jpg 960w"
                                                     sizes="(max-width: 1920px) 100vw, 1920px" />
                                                <figcaption class="vc_figure-caption"></figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-side-media" style="padding: 15px;">
                                    <div class="agni-gallery img-carousel custom-gallery">
                                        <div class="agni-gallery-row row carousel-gallery " data-gallery-margin=30 data-gallery-autoplay=true
                                             data-gallery-autoplay-timeout=5000 data-gallery-autoplay-hover=false data-gallery-loop=true
                                             data-gallery-autoheight=false data-gallery-center=false data-gallery-pagination=true data-gallery-0="1"
                                             data-gallery-768="1" data-gallery-992="1" data-gallery-1200="1">
                                            <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4.jpg">
                                                        <img width="1400" height="933" src="~/Public/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4.jpg 1400w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4-1024x682.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/676f2238782899.576edf0b3ece4-960x640.jpg 960w"
                                                             sizes="(max-width: 1400px) 100vw, 1400px" />
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="animate custom-gallery-item agni-gallery-column" style="animation-duration: 0.8s; 	animation-delay: 0.8s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.8s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <a href="~/Public/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d.jpg">
                                                        <img width="1200" height="800" src="~/Public/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d.jpg"
                                                             class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d.jpg 1200w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d-1024x683.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/2206eb38782899.576edf0b3f22d-960x640.jpg 960w"
                                                             sizes="(max-width: 1200px) 100vw, 1200px" />
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-side-media" style="padding: 15px;">
                                    <div class=" agni-image custom-image-container text-left">
                                        <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                            <figure class="agni-image-figure">
                                                <a href="~/Public/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6.jpg" class="custom-image"
                                                   target="_self">
                                                    <img style="" width="1400" height="933" src="~/Public/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6.jpg"
                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6.jpg 1400w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6-1024x682.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/30809b38782899.576edf0b3f7e6-960x640.jpg 960w"
                                                         sizes="(max-width: 1400px) 100vw, 1400px" />
                                                </a>
                                                <figcaption class="vc_figure-caption"></figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-side-media" style="padding: 15px;">
                                    <div class=" agni-image custom-image-container text-left ba-slider">
                                        <div class="animate" data-animation="fadeInUp" data-animation-offset="95%" style="animation-duration: 0.8s;     animation-delay: 0.4s;     -moz-animation-duration: 0.8s;  -moz-animation-delay: 0.4s;    -webkit-animation-duration: 0.8s;   -webkit-animation-delay: 0.4s; ">
                                            <figure class="agni-image-figure">
                                                <img style="" width="1400" height="933" src="~/Public/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415.jpg"
                                                     class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415.jpg 1400w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415-1024x682.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/1f8c3a38782899.576edf0b41415-960x640.jpg 960w"
                                                     sizes="(max-width: 1400px) 100vw, 1400px" />
                                                <figcaption class="vc_figure-caption"></figcaption>
                                            </figure>
                                            <div class=" resize">
                                                <figure class="agni-image-figure">
                                                    <img style="" width="1200" height="800" src="~/Public/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a.jpg"
                                                         class="fullwidth-image attachment-full  attachment-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a.jpg 1200w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a-300x200.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a-768x512.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a-1024x683.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/6215e538782899.576edf0b40e7a-960x640.jpg 960w"
                                                         sizes="(max-width: 1200px) 100vw, 1200px" />
                                                    <figcaption class="vc_figure-caption"></figcaption>
                                                </figure>
                                            </div>
                                            <span class="handle"><span><i class="fa fa-arrows-h"></i></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-4 has-fixed-single-content">
                            <div class="portfolio-single-content-inner">
                                <h1 class="portfolio-title text-left">Sidebar constrained</h1>
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-33802" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-33802">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-55717 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    Curabitur turpis ante, auctor non eleifend sit amet, mattis non ante. Maecenas quis tincidunt
                                                                    purus. Cras et ullamcorper nibh, feugiat laoreet massa.
                                                                </p>

                                                            </div>

                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    Ut elit sem, volutpat ut cursus a, vestibulum a diam. Cras nunc augue, rhoncus sed ipsum id,
                                                                    posuere scelerisque libero.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-left">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="project-additional-details"><span>Client : Jason Wallace</span><span>Date : 20 Dec 2016</span></div>
                                            <div class="project-link">
                                                <a href="#" class="btn btn-sm btn-accent" target="_blank">Project Link</a>
                                            </div>
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo14/portfolio/sidebar-constrained//&amp;t=Sidebar%20constrained">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Sidebar%20constrained-http://demo.agnidesigns.com/fortune/demo14/portfolio/sidebar-constrained/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo14/portfolio/sidebar-constrained/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo14/portfolio/sidebar-constrained/&amp;title=Sidebar%20constrained">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por23","Case")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="http://demo.agnidesigns.com/fortune/demo15/"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next"><a href="@Url.Action("Por21","Case")" rel="next"><span>Next</span><i class="pe-7s-angle-right"></i></a></div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
