
@{
    ViewBag.Title = "Por4";
    Layout = "~/Views/Shared/_PortfolioLayout.cshtml";
}

<div id="content" class="site-content content default-header-menu-content">

    <div id="primary" class="portfolio-single-post content-area  has-fullwidth">
        <main id="main" class="site-main portfolio-single-post-container container-fluid" role="main">


            <article id="post-603" class="portfolio-single-content portfolio-single-layout-full post-603 portfolio type-portfolio status-publish has-post-thumbnail hentry types-logo-design types-print">
                <div class="portfolio-single-container">
                    <div class="portfolio-single-row row portfolio-single-media-position-behind">
                        <div class="portfolio-single-media col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-media-container" style="margin: -15px 0;">
                                <div class="portfolio-full-media" style="padding: 15px;">
                                    <div class="agni-gallery img-carousel ">
                                        <div class="agni-gallery-row row grid-gallery " data-grid="fitRows" style="margin: 0 -15px -30px;">
                                            <div class="grid-sizer col-xs-12 col-sm-12 col-md-12 "></div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="1920" height="2688" src="~/Public/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36-214x300.jpg 214w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36-768x1075.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36-731x1024.jpg 731w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/ac3e9824658927.5636249af3c36-960x1344.jpg 960w"
                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="1920" height="2688" src="~/Public/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24-214x300.jpg 214w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24-768x1075.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24-731x1024.jpg 731w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/077ba224658927.56362497e5e24-960x1344.jpg 960w"
                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="1920" height="2688" src="~/Public/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888-214x300.jpg 214w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888-768x1075.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888-731x1024.jpg 731w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/9c803124658927.5636249aa4888-960x1344.jpg 960w"
                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                            <div class="animate col-xs-12 col-sm-12 col-md-12 custom-gallery-item agni-gallery-column" style="padding: 0 15px 30px; animation-duration: 0.8s; 	animation-delay: 0.4s; -webkit-animation-duration: 0.8s; -webkit-animation-delay: 0.4s"
                                                 data-animation="fadeInUp" data-animation-offset="95%">
                                                <figure class="agni-gallery-figure">
                                                    <img width="1920" height="1347" src="~/Public/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51.jpg"
                                                         class="attachment-full size-full" alt="" srcset="http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51.jpg 1920w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51-300x210.jpg 300w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51-768x539.jpg 768w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51-1024x718.jpg 1024w, http://demo.agnidesigns.com/fortune/demo14/wp-content/uploads/sites/15/2016/12/d5c95e24658927.56362499c6e51-960x674.jpg 960w"
                                                         sizes="(max-width: 1920px) 100vw, 1920px" />
                                                    <figcaption></figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="portfolio-single-project-details-toggle">Details</span>
                        <div class="portfolio-single-content col-xs-12 col-sm-12 col-md-12">
                            <div class="portfolio-single-content-inner">
                                <h1 class="portfolio-title text-left">Fullwidth gallery</h1>
                                <div class="portfolio-entry-content">
                                    <div id="agni-row-48674" class="section-row">
                                        <div class="section-row-bg-container section-row-bg-container-agni-row-48674">
                                            <div class="section-row-bg section-row-bg-color "></div>
                                        </div>
                                        <div class="container">
                                            <div class="vc_row vc_row_fluid ">
                                                <div class="wpb_column agni_column_container agni_column vc_column_container vc_col-sm-12">
                                                    <div class="agni_column-inner vc_column-inner text-left">
                                                        <div class="section-column-bg-container section-column-bg-container-agni-column-25488 ">
                                                            <div class="section-column-bg section-column-bg-color "></div>
                                                        </div>
                                                        <div class="wpb_wrapper">
                                                            <div class="agni_text_column agni-text-block ">
                                                                <p>
                                                                    Phasellus mattis eros ligula, hendrerit vulputate erat volutpat in. Nullam at tortor condimentum,
                                                                    viverra metus eu, gravida ligula. Nam laoreet eu nulla at convallis. Vivamus vel volutpat nunc.
                                                                </p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- .entry-content -->
                                <div class="portfolio-project-details text-left">
                                    <div class="portfolio-project-details-container">
                                        <div class="portfolio-project-details-inner">
                                            <div class="portfolio-sharing-buttons">
                                                <span class="portfolio-sharing-icon"><i class="pe-7s-share"></i></span>
                                                <ul class="portfolio-sharing-list">
                                                    <li>
                                                        <a href="http://www.facebook.com/sharer.php?u=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-gallery//&amp;t=Fullwidth%20gallery">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/tweet?text=Fullwidth%20gallery-http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-gallery/">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="https://plus.google.com/share?url=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-gallery/">
                                                            <i class="fa fa-google-plus"></i>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://demo.agnidesigns.com/fortune/demo14/portfolio/fullwidth-gallery/&amp;title=Fullwidth%20gallery">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="portfolio-navigation-container">
                        <nav class="portfolio-navigation navigation" role="navigation">
                            <h1 class="screen-reader-text">Portfolio navigation</h1>
                            <div id="portfolio-nav-links" class="nav-links">
                                <div class="nav-previous"><a href="@Url.Action("Por3","Case")" rel="prev"><i class="pe-7s-angle-left"></i><span>Previous</span></a></div>
                                <div class="nav-back"><a href="http://demo.agnidesigns.com/fortune/demo15/"><i class="pe-7s-back"></i></a></div>
                                <div class="nav-next">
                                    <a href="@Url.Action("Por5","Case")" rel="next">
                                        <span>Next</span><i class="pe-7s-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </nav><!-- .nav-links -->
                    </div>
                </div>
            </article>

        </main><!-- #main -->
    </div><!-- #primary -->



</div><!-- #content -->
